div#card {
	border: 1px solid black;
  margin: 125px auto 0;
  width: 75%;
  border-radius: 3px;
  padding: 1.2em;
}

.temp {
	margin: 0;
}


.f {
	display: flex;
	flex-wrap: wrap;
}

.location, .weather-details, .days {
	flex-basis: 100%;
}

.weather-details > img, .weather-details > p, .weather-details .panel {
	width: 50%;
}

.weather-details .panel:first-of-type {
	align-items: flex-start;
}

.temp {
	font-size: 2em;
}

ul.days-list li {
	flex-basis: calc( 100% / 7 );
}

ul.days-list {
	list-style-type: none;
}