div#card {
	border: 1px solid black;
  margin: 125px auto 0;
  width: 75%;
  border-radius: 3px;
}


.f {
	display: flex;
	flex-wrap: wrap;
}

.location {
	flex-basis: 100%;
}

.weather-details > img, .weather-details > p {
	width: 50%;
}